@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}
button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: skyblue;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: 0.2s;

}
button.normal:hover{
    background-color: rebeccapurple;
    color: pink;

}
button.white{
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: black;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid black;
  outline: none;
  transition: 0.2s;

}

body {
  width: 100%;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: pink;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    background-size: cover;
    flex-wrap: wrap;
    



}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;

}
#navbar li a:hover,
#navbar li a.active{
    color: grey;

}
#navbar li a.active::after,
#navbar li a:hover::after {
    content:"";
    width: 30%;
    height: 1px;
    background: grey;
    position: absolute;
    bottom: -4px;
    left: 20px;


}

#hero{
    background-image: url(img/image.png);
    height: 100vh;
    width: 100%;
    background-position: top 25% right 0;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: palevioletred;
    align-items: end;
    flex-wrap: wrap;

}
#hero button{
  background-color: plum;
    color: rgb(11, 4, 18);
    border-radius: 50%;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    
    flex-wrap: wrap;

}
#hero button:hover{
  background-color: rebeccapurple;
  color: pink;

}
#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
    border: 1px solid white;
    border-radius: 4px;
    margin: 15px 0;
    
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
    color: #222;
    background-color: aliceblue;
}
#feature .fe-box img{
    width: 100%;
    margin-bottom:10px ;

}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #465b52;
    background-color: white;
}
#product1{
  text-align: center;
}
#product1 .pro-container{
  display:flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid grey;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  background-color: pink;
  border-color: aqua;
}
#product1 .pro img{
  width: 100%;
  border-radius: 20px;

}
#product1 .pro .des{
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des h5{
  padding-top: 7px;
  color: black;
  font-size: 14px;

}
#product1 .pro .des .star{
  font-size: 12px;
  color: rgb(243, 181, 25);
}
#product1 .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color:black;

}
#product1 .pro .des .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;

  font-weight: 500;
  color: rgb(163, 219, 216);
  position: absolute;
  bottom: 20px;
  right: 10px;
}
#banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(img/banner1.png);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;



}
#banner h4{
  color: black;
}
#banner h2{
  color: black;
}
#banner button:hover{
  background-color: #465b52;
  color: aqua;
}
#sm-banner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sm-banner .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(img/sm-banner1.png);
  width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
  flex-wrap: wrap;


}
#sm-banner .banner-box1{
  background-image: url(img/sm-banner2.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
  flex-wrap: wrap;

}
#sm-banner h4{
  color: aliceblue;
  font-size: 20px;
  font-weight: 300;

}
#sm-banner h2{
  color: aliceblue;
  font-size: 20px;
  font-weight: 800;
}
#sm-banner span{
  color: rgb(21, 26, 30);
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}
#sm-banner button:hover{
  background-color: rebeccapurple;
  color: pink;

}
#banner3{
  display: flex;
  justify-content: space-between ;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner3 .banner-box{
  background-image: url(img/banner3.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;

}
#banner3 .banner-box3{
  background-image: url(img/banner4.png);
  border: #222;
  background-size: cover;
  flex-wrap: wrap;
  

}
#banner3 .banner-box4{
  background-image: url(img/banner5.png);
  border: #222;
  background-size: cover;
  flex-wrap: wrap;
}

#banner3 h2{
  color: rgb(7, 12, 17);
  font-weight: 900;
  font-size: 22px;

}
#banner3 h3{
  color: black;
  font-weight: 800;
  font-size: 15px;

}
#newsletter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(img/newsletter.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-size: cover;

}
#newsletter h4{
  color: black;
  font-size: 22px;
  font-weight: 700;
}
#newsletter p{
  color: #222;
  font-size: 14px;
  font-weight: 600;
}
#newsletter p span{
  color: red;
}
#newsletter .form{
  display: flex;
  width: 40%;
}
#newsletter input{
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 4px;
}

footer{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
footer .col{
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  flex-direction: column;
}
footer .logo{
  margin-bottom: 30px;

}
footer h4{
  font-size: 14px;
  padding-bottom: 20px;
}
footer p{
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a{
  font-family: 13px;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}
footer .follow{
  margin-top: 20px;
}
footer .follow i{
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}
footer .install .row img{
  border: 1px solid lightseagreen;
  border-radius: 6px;

}
footer .install img{
  margin: 10px 0 15px 0;
}
footer .follow i:hover{
  color: lightseagreen;
}
footer .col1 a:hover{
  color: lightseagreen

}
footer .col2 a:hover{
  color: lightseagreen;
}
footer .copyright{
  width: 100%;
  text-align: center;
}
  @media (max-width:799px) {
    #navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 0;
      right: -300px;
      height: 100vh;
      width: 300px;
      background-color: white;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.02);
      padding: 80px 0 0 10px;

    }
  }
#navbar li{
  margin-bottom: 25px;
}
#pageheader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(img/pageholder1.png);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;


}
#pagination{
  text-align: center;

}
#pagination a{
  text-decoration: none;
  background-color: lightseagreen;
  padding: 14px 20px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}
#pagination a i{
  font-size: 16px;
  font-weight: 600;

}
#prodetails{
  display: flex;
  margin-top: 20px;

}
#prodetails .single-pro-image{
  width: 40%;
  margin-right: 50px;
}
.small-img-group{
  display: flex;
  justify-content: space-between;


}
.small-img-col{
  flex-basis: 24%;
  cursor: pointer;

}
#prodetails .single-pro-details{
  width: 50%;
  padding-top: 30px;

}
#prodetails .single-pro-details h4{
  padding: 40px 0 20px 0;

}
#prodetails .single-pro-details h2{
  font-size: 26px;
}
#prodetails .single-pro-details select{
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
  color: black;
}
#prodetails .single-pro-details input{
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
#prodetails .single-pro-details input:focus{
  outline: none;
}
#prodetails .single-pro-details button{
  background-color: lightseagreen;
  color: white;
  width: 150px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
#prodetails .single-pro-details button:hover{
  background-color: blueviolet;
  color: aliceblue;
}
#prodetails .single-pro-details span{
  line-height: 25px;

}
#blogheader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(img/blogbanner1.png);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#blogheader p{
  color: #222;
}
#blog{
  padding: 150px 150px 0 150px;
}
#blog .blog-box{
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}
#blog .blog-img{
  width: 100%;
  margin-right: 40px;
}
#blog img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#blog .blog-details{
  width: 100%;
}
#blog .blog-details a{
  text-decoration: none;
  font-size: 11px;
  color: #222;
  font-weight: 800;
  position: relative;
  transition: 0.2s;

}
#blog .blog-details a::after{
  content: "";
  width: 50px;
  height: 1px;
  background-color: #222;
  position: absolute;
  top: 4px;
  right: -60px;
}
#blog .blog-details a:hover{
  color: #465b52;
}
#blog .blog-details a:hover::after{
  background-color: #465b52;
}
#aboutheader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(img/aboutus.png);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#about{
  display: flex;
  align-items: center;
}
#about img{
  width: 50%;
  height: auto;
}
#about div{
  padding-left: 40px;
}
#about-app {
  text-align: center;
}
#about-app .image{
  width: 70%;
  height: 100%;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  

}
#about-app .image img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
#contactheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(img/feedback1.png);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;

}
#contact-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact-details .details{
  width: 40%;

}
#contact-details .details span{
  font-size: 12px;
}
#form-details form span{
    font-size: 12px;
}
#contact-details .details h2{
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;

}
  
#form-details form h2{
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;

}
#contact-details .details h3{
  font-size: 16px;
  padding-bottom: 15px;

}
#contact-details .details li{
  list-style: none;
  display: flex;
  padding: 10px 0;

}
#contact-details .details li i{
  font-size: 14px;
  padding-right: 22px;
}
#contact-details .details li p{
  margin: 0;
  font-size: 14px;
}
#contact-details .map{
  width: 55%;
  height: 400px;
}
#contact-details .map iframe{
  width: 100%;
  height: 100%;
}
#form-details form{
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#form-details form input,
#form-details form textarea{
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  border-radius: 5%;

}
#cart table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;

}
#cart table img{
  width: 70px;
}
#cart table td:nth-child(1){
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(2){
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3){
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6)
{
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(5) input{
  width: 70px;
  padding: 10px 5px 10px 15px;
}
#cart table thead{
  border: 1px solid rgb(248, 198, 198);
  border-left: none;
  border-right: none;
}
#cart table thead td{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}
#cart table tbody tr td{
  padding-top: 15px;
}
#cart table tbody td{
  font-size: 13px;
}
#cart-add{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#coupon{
  width: 50%;
  margin-bottom: 30px;
}
#coupon h3,
#subtotal h3{
  padding-bottom: 15px;
}
#coupon input{
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid rgb(242, 181, 181);
}
#coupon button,
#subtotal button,
#container button{
  background-color: darkcyan;
  color: azure;
}
#subtotal{
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid rgb(251, 198, 198);
  padding: 30px;
}
#subtotal table{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
#subtotal table td{
  width: 50%;
  border: 1px solid rgb(251, 198, 198);
  padding: 10px;
  font-size: 13px;
}
.container{
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input {
  
  width: 100%;
  padding: 10px;
  
  border: 1px solid rgb(251, 198, 198);
}

button {
  background-color: palevioletred;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.container h3{
  padding-bottom: 15px;

}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

#login .login-container {
  width: 300px;
  margin: 100px auto;
  background-color: palevioletred;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: url(img/loginbanner.png);
}

#login .login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

#login .input-group {
  margin-bottom: 15px;
}

#login .input-group label {
  display: block;
  margin-bottom: 5px;
}

#login .input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#login button .submit{
  width: 100%;
  padding: 10px;
  background-color: pink;
  border: none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

#login button:hover {
  background-color: #0056b3;
}

body {
  background-color: #f5f8ff;
}
.wrapper {
  width: 95%;
  margin: 0 auto;
}
#search-container {
  margin: 1em 0;
}
#search-container input {
  background-color: transparent;
  width: 40%;
  border-bottom: 2px solid #110f29;
  padding: 1em 0.3em;
}
#search-container input:focus {
  border-bottom-color: #eeeef2;
}
#search-container button {
  padding: 1em 2em;
  margin-left: 1em;
  background-color: transparent;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 0.5em;
}
.button-value {
  border: 2px solid transparent;
  padding: 1em 2.2em;
  border-radius: 3em;
  background-color: transparent;
  color: #0b0b12;
  cursor: pointer;
}
.active {
  background-color: transparent;
  color: #ffffff;
}
#products {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1.5em;
  padding: 2em 0;
}
.card {
  background-color: #ffffff;
  max-width: 18em;
  margin-top: 1em;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}
.image-container {
  text-align: center;
}
.container {
  padding-top: 1em;
  color: #110f29;
}
.container h5 {
  font-weight: 500;
}
.hide {
  display: none;
}
@media screen and (max-width: 720px) {
  img {
    max-width: 100%;
    object-fit: contain;
    height: 10em;
  }
  .card {
    max-width: 10em;
    margin-top: 1em;
  }
  #products {
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
  }
}
